[submodule "test/ut"]
	path = test/ut
	url = https://github.com/boost-ext/ut.git
[submodule "bench/benchmark"]
	path = bench/benchmark
	url = https://github.com/google/benchmark.git
[submodule "external/zstd"]
	path = external/zstd
	url = https://github.com/facebook/zstd.git
